/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
    font-size: 3.5em;
    color: var(--ifm-color-primary);
    margin: 0;
}

.heroContainer {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    font-size: 1.5em;
    color: var(--ifm-color-content-secondary);
}

.codePrompt {
    font-size: 1.2em;
    color: var(--text-color-alt);
    margin-bottom: 0.25em;
    text-align: center;
    margin-top: 0.5em;
}

.random {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.codeEditorWrapper {
    width: 72ch;
    max-width: 100%;
    margin-top: 1rem;
}

@media screen and (max-width: 996px) {
    h1 {
        font-size: 2em;
        margin: 0;
    }

    .heroContainer {
        margin: 2em 1.5em;
    }

    .tagline {
        font-size: 1em;
    }
}